/* Record Custom Style */
:root {
    --accent-color: #1e90ff;
}

.grid-item {
    border-radius: 20px !important;
    border: 1px dashed rgba(255, 255, 255, 0.2) !important;
}

.grid-item.type-note .item-icon {
    filter: hue-rotate(180deg);
}